* {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    float: none;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron-heading {
    font-size: 3rem;
    font-weight: 600;
}